* {
  margin: 0;
  padding: 0;
}

#largestText,
#subText {
  text-align: start;
  font-size: 72px;
  margin-top: 20%;
  margin-left: 10%;
}

#largestText {
  font-weight: 400;
  font-size: 100px;
}

#subText {
  font-size: 32px;
  font-weight: 50;
  margin-top: 0;
}

#samplePara {
  margin-left: 10%;
}

/* body {
  background-position: top;
  background-size: cover;
  background-image: url(../Images/catinhat.png);
  /* position: absolute; */
/* width: 417px; */
/* height: 405px; */
/* left: 782px;
  top: 214px; */
/* } */

#catsButton {
  margin-top: 5%;
  margin-left: 10%;
  border-radius: 10px;
  font-weight: bolder;
  box-shadow: black;
  border: none;
}

#buttonParent {
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
}

p {
  position: absolute;
  width: 697px;
  height: 80px;
  left: 0px;
  top: 559px;

  font-family: DM Serif Text;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;

  color: #000000;
}

#catImage {
  position: absolute;
  width: 517px;
  height: 405px;
  left: 600px;
  top: 214px;
}
